#u514-1_text, #u514-3_text {
    height: 64px !important;
    background-color: #4b64d7 !important;
}

#u514-2_text, #u514-4_text {
    height: 38px !important;
    background-color: #4b64d7 important;
}

