#u511-1_text, #u514-1_text, #u514-3_text {
    height: 64px !important;
    background-color: #4b64d7 !important;
}

#u512-1_text, #u514-2_text, #u514-4_text {
    height: 38px !important;
    background-color: #4b64d7 !important;
}
.u513_state0 {
    -ms-overflow-x: hidden;
    overflow-x: visible;
    -ms-overflow-y: hidden;
    overflow-y: visible;
}
div[data-label="1 Line"] {
    height: 38px !important;
    background-color: #4b64d7 !important;
}
